.about-section{
  .about-img{
    img{
      border-radius: 10px;
    }
  }
    .about-paragraph{
        text-align: justify;
    }
}
.service-section{
    .service-area{
        background: $section--bg;
        border-radius: 10px;
        border: 1px solid $border--base;
        padding: 20px; 
        
        .icon{
            font-size: 50px;
            color: $base--color;
            margin-bottom: 15px;
            
        }
    }
}

.car-finding-area{
padding-top: 140px;

}
.statistics-section{
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: fixed;
    .counter{
      border-left: 5px solid $base--color;
      border-radius: 20px;
      .icon{
        font-size: 50px;
        color: $base--color;
        margin-bottom: 15px;

      }
    }
}

.work-content {
    margin-left: 30px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: $section--bg;
}
.why-choose-us{
  overflow: hidden;
}
.choose-us-area{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.tri-right.border.left-top:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: $section--bg transparent transparent transparent;
}
  
.tri-right.left-top:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: $section--bg transparent transparent transparent;
}

.app-section{
    position: relative;
    z-index: 2;
    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 15%, 0 100%);
        background-color: $section--bg;
        z-index: -1;
    }
    
}
.app-btn .app-icon {
  padding-right: 10px;
}
.app-btn-wrapper {
    margin: -8px;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @media only screen and (max-width: 1199px) {
      margin-top: 0px;
    }
  }
  
.app-btn-wrapper .app-btn {
    position: relative;
    background-color: $body--bg;
    -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 6px 18px;
    width: 230px;
    margin: 8px;
  }
  
.app-btn-wrapper .app-btn span {
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
  }
  
.app-btn-wrapper .app-btn .title {
    margin-bottom: 0;
    color: #ffffff;
  }
  
.app-btn-wrapper .app-btn .icon {
    width: 35px;
    height: 35px;
    margin-left: auto;
  }
  
.app-btn-wrapper .app-btn .app-qr {
    position: absolute;
    top: 65px;
    left: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  @media only screen and (max-width: 575px) {
.app-btn-wrapper .app-btn .app-qr {
      display: none;
    }
  }
.app-btn-wrapper .app-btn:hover .app-qr {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  
  .app-btn-wrapper .app-qr {
    z-index: 9;
  }

  .faq-section {
    overflow: hidden;
  }
  
  .faq-section .faq-img img {
    border-radius: 10px;
  }
  
  .faq-wrapper {
    margin-bottom: -20px;
  }
  
  .faq-wrapper .faq-header {
    margin-bottom: 30px;
  }
  
  .faq-wrapper .faq-item {
    background-color: $section--bg;
    border-radius: 15px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .faq-wrapper .faq-item .faq-title {
    padding: 12px 20px;
    font-size: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
  }
  
  @media only screen and (max-width: 575px) {
    .faq-wrapper .faq-item .faq-title {
      font-size: 16px;
    }
  }
  .faq-wrapper .faq-item .faq-title .title {
    width: calc(100% - 40px);
    display: inline-block;
    margin-bottom: 0;
  }
  
  .faq-wrapper .faq-item .faq-content {
    padding: 20px;
    border-top: 1px solid $border--base;
    display: none;
  }
  
  @media only screen and (max-width: 575px) {
    .faq-wrapper .faq-item .faq-content {
      margin-top: 15px;
    }
  }
  .faq-wrapper .faq-item .faq-content p {
    font-size: 14px;
  }
  
  .faq-wrapper .faq-item .right-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-color: $base--color;
    border-radius: 50%;
    position: relative;
  }
  
  .faq-wrapper .faq-item .right-icon::before, .faq-wrapper .faq-item .right-icon::after {
    position: absolute;
    content: "";
    background: #ffffff;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .faq-wrapper .faq-item .right-icon::before {
    width: 2px;
    height: 12px;
    top: 50%;
    left: 50%;
  }
  
  .faq-wrapper .faq-item .right-icon::after {
    width: 12px;
    height: 2px;
    top: 50%;
    left: 50%;
  }
  
  .faq-wrapper .faq-item.active .faq-content {
    display: block;
  }
  
  .faq-wrapper .faq-item.active.open .right-icon::before {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .faq-wrapper .faq-item.open .right-icon::before {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
  }

// searching data
.car-list-area .car-item {
  background-color: $section--bg;
  padding: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media only screen and (max-width: 520px) {
  .car-list-area .car-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.car-list-area .car-item:hover {
  background-color: #182634;
}
.car-list-area .car-item .car-img {
  width: 250px;
  height: 200px;
  overflow: hidden;
}
@media only screen and (max-width: 520px) {
  .car-list-area .car-item .car-img {
    width: 100%;
  }
}
.car-list-area .car-item .car-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.car-list-area .car-item .car-details {
  padding-left: 25px;
}
@media only screen and (max-width: 520px) {
  .car-list-area .car-item .car-details {
    padding-top: 20px;
    padding-left: 0px;
  }
}
.car-list-area .car-item .car-details .title {
  font-size: 22px;
  @media only screen and (max-width: 1199px) {
    font-size: 18px;
  }
}
.car-list-area .car-item .car-details p {
  margin-bottom: 7px;
  font-size: 14px;
}
.find-next{
  .pagination{
    justify-content: center;
  }
}

/*-------------------------------------------------
    [ ### contact block ]
*/
.contact-form-area {
  margin-right: 40px;
}
@media only screen and (max-width: 991px) {
  .contact-form-area {
    margin-right: 0;
  }
}


.contact-form textarea {
  min-height: 150px;
}

.contact-information {
  margin-bottom: 40px;
}
.contact-information p {
  font-size: 18px;
}
@media only screen and (max-width: 1199px) {
  .contact-information p {
    font-size: 14px;
  }
}

.contact-widget-box {
  background: $section--bg;
  border: 1px solid $border--base;
  border-radius: 10px;
  padding: 30px;
}
@media only screen and (max-width: 1199px) {
  .contact-widget-box {
    padding: 15px;
  }
}
@media only screen and (max-width: 375px) {
  .contact-widget-box {
    padding: 10px;
  }
}

.contact-widget-item-wrapper {
  margin-bottom: -20px;
}
.contact-widget-item-wrapper .contact-widget-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
.contact-widget-item-wrapper .contact-widget-item .contact-widget-icon {
  width: 50px;
  height: 50px;
  border: 1px solid $border--base;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-widget-item-wrapper .contact-widget-item .contact-widget-icon svg {
  fill: #c4c6c7;
}
.contact-widget-item-wrapper .contact-widget-item .contact-widget-content {
  padding-left: 10px;
}
.contact-widget-item-wrapper .contact-widget-item .contact-widget-content .sub-title {
  font-size: 14px;
}

  // car-booking-area
  .car-searching-area{
    .car-booking-area{
      background-color: $section--bg;
      padding: 25px;
      border-radius: 10px;
    }
  }

.appointment-preview .booking-area {
    background-color: $section--bg;
    box-shadow: rgb(0, 0, 0) 0px 3px 7px 0px;
    padding: 30px;
    border-radius: 10px;
  }
  @media only screen and (max-width: 375px) {
    .appointment-preview .booking-area {
      padding: 15px;
    }
  }
  @media only screen and (max-width: 375px) {
    .appointment-preview .booking-area .list-wrapper .list {
      font-size: 15px;
    }
  }
  .appointment-preview .booking-area .list-wrapper .list li {
    color: $white;
    border-bottom: 1px solid $border--base;
    padding-top: 10px;
    padding-bottom: 6px;
  }
  .appointment-preview .booking-area .list-wrapper .list span {
    float: right;
    color: #e2e3e4;
  }

.security-section{
  .security-item{
    background-color: $section--bg;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.6s;
    &:hover{
      border: 2px solid $border--base;
    }
    .icon{
      font-size: 40px;
      padding-bottom: 10px;
      color: $base--color;
    }
  }
}
.show_hide_password{
  input{
    padding-right: 40px;
  }
}
.show_hide_password-2{
  input{
    padding-right: 40px;
  }
}
.show_hide_password-3{
  input{
    padding-right: 40px;
  }
}
